body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

 /* removes padding around all containers */
* {
    box-sizing: border-box;
}